.divTemp
  background-color: $cornflower-blue
  .headSec
    .headCard
      border-radius: 75px
      background-color: white
      margin: 0 52px 0 38px
      .headInfo
        margin: 0 auto
        color: $ultramarine-blue
        width: 65%
        padding: 22px 0
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        .headTitle
          text-align: center
          font-size: 72px
          line-height: 56px
          width: min-content
        .headDesc
          padding: 67px 0
          font-size: 24px
      .headSlide
        .slideCard
          background-color: $ultramarine-blue
          border-radius: 42px
          height: 315px
          width: 315px
          position: relative
          margin: 0 -52px 0 -38px
          img.cardImg
            max-width: 125%
            margin: -10% -12.5% 0
          .cardTitle
            margin: auto 0 16px
            text-align: center
            font-size: 30px
            color: white
            position: relative
  .servSecWrap
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    .titleWrap
      position: relative
      display: flex
      flex-direction: column
      align-items: center
      padding: 55px 0
      .line
        height: 4px
        width: 730px
        background-color: white
        position: absolute
        top: 50%
        left: auto
        z-index: 0
      .sectionTitle
        font-size: 75px
        line-height: 60px
        font-weight: 400
        color: white
        word-wrap: anywhere
        width: 35%
        text-align: center
        padding: 0 2.5rem
        background-color: $cornflower-blue
        z-index: 0
    .servSec
      display: flex
      width: 80%
      align-items: center
      justify-content: space-between
      .servDesc
        color: white
        font-size: 32px
        width: 50%
      .servCardImg
        background-color: $ultramarine-blue
        width: 660px
        max-width: 50%
        height: 400px
        border-radius: 42px
  .workSec