.footer
  background-color: $cornflower-blue
  color: white
  display: flex
  flex-flow: column
  margin-top: auto  
  padding-right: 18px
  .footerTop, .footerBottom
    margin: 0
    padding: 1em
  .footerTop
    display: flex
    justify-content: space-between
    gap: 1%
    flex-wrap: wrap
    .footerTopColumn
      flex-grow: 1
      display: flex
      justify-content: start
      width: 49%
      gap: 5%
      @media screen and (max-width: 900px)
        width: 100%
        justify-content: space-between
      @media screen and (max-width: 600px)
        flex-wrap: wrap
      ul.footerMenu
        font-size: 15px
        line-height: 18px
        font-weight: 700
        list-style: none
        padding: 0 .5em
        li
          padding: 22px 0
      .footerInfo
        display: flex
        flex-flow: column
        justify-content: space-between
        width: 49%
        @media screen and (max-width: 600px)
          flex-grow: 1
          width: 100%
        .footerInfoHeader
          font-size: 22px
          font-weight: 700
          text-transform: capitalize
          padding: .5em 0
        .footerInfoText
          font-size: 17px
          font-weight: 500
          word-wrap: break-word
        .footerContactWrap, .footerContactAlt
          display: flex
          flex-flow: row
          justify-content: space-between
          gap: 1em
          a.footerContact
            flex-flow: column
          a.footerContactAlt
            flex-flow: row
          a.footerContact, a.footerContactAlt
            display: flex
            color: white
            text-decoration: none
            align-items: center
            width: 100%
            margin: .5em 1em
            @media screen and (max-width: 300px)
              margin: 0
            p
              width: 100%
              @media screen and (max-width: 1280px) and (min-width: 900px)
                font-size: .75em
              @media screen and (max-width: 300px)
                font-size: .75em
                padding: 0 .5em
  .footerBottom
    border-top: .125em solid white
    display: flex
    flex-flow: wrap
    justify-content: space-between
    align-items: center
    .socialIconsWrap, .copyright
      @media screen and (max-width: 600px)
        flex-grow: 1
        width: 100%
        text-align: center
    .socialIconsWrap
      .socialIcon
        color: white
        font-size: 29px !important
        padding: 0 .125em
    .copyright
      font-size: 12px
      font-weight: 700