*
  margin: 0
  left: 0
  top: 0
  font-family: $montserrat

.theBackground
  position: absolute
  margin: 0
  top: 0
  left: 0
  z-index: -1
  height: 100%
  img
    max-width: 100%
    object-fit: cover