*
  margin: 0
  left: 0
  top: 0
  font-family: $montserrat

img
  pointer-events: none

.theBackground
  position: absolute
  margin: 0
  top: 0
  left: 0
  z-index: -1
  height: 100%
  img
    max-width: 100%
    
.customHr
  max-height: 2em
  width: fit-content

.aboutPage, .contactPage, .workPage
  margin: 3em auto
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center